*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Ignore storage directory contents, but allow the directory structure and specific subdirectories
/storage/*.txt
/storage/app/*
/storage/app/public/*
/storage/debugbar/*
/storage/framework/cache/*
!/storage/app/public/avatar
!/storage/app/public/images
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
# Add other specific public storage paths you want to commit if necessary

# But explicitly DO NOT ignore these, so logs/cache/sessions can be created
!/storage/logs/.gitkeep
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/app/.gitkeep
!/storage/app/public/.gitkeep
